:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --lightblue: #00bcf2;
    --blue: #0072be;
    --stable-blue: #0076bf;
    --midblue: #00188f;
    --darkblue: #002050;
    --lightpurple: #b4a0ff;
    --purple: #5c2d91;
    --darkpurple: #373277;
    --lightmagenta: #e3008c;
    --magenta: #b4009e;
    --darkmagenta: #5c005c;
    --red: #e81123;
    --darkred: #a80000;
    --lightorange: #ff8c00;
    --orange: #d83b01;
    --insiders-green: #058f2d;
    --lightyellow: #fff100;
    --yellow: #ffcc00;
    --lightgreen: #bad80a;
    --green: #477a32;
    --darkgreen: #004b1c;
    --lightteal: #00b294;
    --teal: #008272;
    --darkteal: #004b50;
    --gray-95: darken(white, 5%);
    --lightgray: #e3e3e3;
    --gray: #ccc;
    --darkgray: #333;
    --white: #ffffff;
    --black: #000000;
    --background: #0D1117;
    --foreground: #9ba3b4;
    --foreground-intense: #e6eefA;
    --header-foreground: #c3d0e5;
    --accent-primary: #0078d4;
    --accent-secondary: #0069b9;
    --link-foreground: #4daafc;
    --link-foreground-hover: #8fc3fe;
    --link-underline-background: var(--link-foreground);
    --background: #0D1117;
    --border-background: rgba(255, 255, 255, 0.12);
    --header-background: var(--background);
    --footer-background: var(--background);
    --button-primary-background: var(--accent-primary);
    --button-primary-foreground: var(--white);
    --button-primary-border: transparent;
    --button-primary-hover: #005ba4;
    --button-secondary-background: #25292E;
    --button-secondary-foreground: var(--header-foreground);
    --button-secondary-border: rgba(255, 255, 255, 0.3);
    --button-secondary-hover: #333940;
    --icon-button-hover-background: rgba(255, 255, 255, 0.10);
    --navbar-border: var(--border-background);
    --search-input-background: transparent;
    --search-input-border: rgba(255, 255, 255, 0.15);
    --search-input-border-active: var(--accent-primary);
    --search-input-foreground: var(--foreground);
    --search-input-placeholder-foreground: #9ba3b4;
    --card-background: rgba(255, 255, 255, 0.04);
    --card-hover-background: rgba(255, 255, 255, 0.08);
    --card-border: rgba(255, 255, 255, 0.12);
    --card-border-active: rgba(255, 255, 255, 0.2);
    --feature-card-icon-background: rgba(255, 255, 255, 0.07);
    --banner-background-color: rgba(0, 32, 80, 0.25);
    --banner-background: linear-gradient(135deg, var(--background) 0%, var(--banner-background-color) 15%, var(--banner-background-color) 75%, var(--background) 100%);
    --banner-link-color: var(--link-foreground);
    --banner-text: var(--foreground);
    --hero-background: linear-gradient(180deg, #0e0e0e 0%, #141414 100%);
    --hero-border-bottom: var(--border-background);
    --home-foreground: #9FB1D1;
    --code-background: rgba(255, 255, 255, 0.15);
    --code-foreground: #cccccc;
    --keybinding-background: rgba(255, 255, 255, 0.15);
    --keybinding-foreground: var(--link-foreground);
    --code-copy-foreground: #ccc;
    --code-copy-background: #444;
    --alert-note-border-color: var(--lightblue);
    --alert-warning-border-color: var(--lightyellow);
    --alert-important-border-color: var(--lightpurple);
    --alert-caution-border-color: #FE7543;
    --alert-tip-border-color: var(--lightgreen); 
    
    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--foreground);
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.navbar{
    background: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    margin-bottom: 0;
}

.navbar-list-1{
    display: flex;
    gap: 8px;
}

.navbar-list-2{
    display: flex;
    gap: 10px;
}

.navbar-list-3{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5{
    text-align: center;
    font-size: large;
}

.logo-sm{
    width: 20px;
}


.hero-section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-1-sub-1{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-2-sub-2{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.hero-section-2-image{
    max-width: 1200px;
    width: 100%;
}

.her0-section-3{
    display: flex;
    gap: 2rem;
}

.her0-section-3-sub{
    border: 1px solid white;
    border-radius: 4%;
}

.ai-section{
    display: flex;
    justify-content: center;
    gap: 3rem;
}